$primaryDark: #ffffff;
$primaryLight: #30B4F6;
$primaryHover: #343078;

$white: #ffffff;

$text: #273A56;
$text-lighten: #8C9DAF;
$text-darken: #1E2D48;
$text-white: #ffffff;

$gray: #d2d9e5;
$gray-lighten: #eef0f4;
$gray-lighten-more: #f2f4f8;
$gray-lighten-more-more: #f9fafc;
$gray-darken: #b8beca;
$gray-border: #e4e9f0;

$black: #0e0b20;
$black-lighten: #222034;
$black-lighten-more: #393749;

$blue: #0E4F79;
$blue-lighten: #3F87C8;
$blue-lighten-more: #CEDEEC;

// Font Family
$base__font-family: 'Work Sans', sans-serif;
$font-thin-100: 100;
$font-extra-light-200: 200;
$font-light-300: 300;
$font-regular-400: 400;
$font-medium-500: 500;
$font-semi-bold-600: 600;
$font-bold-700: 700;
$font-extra-bold-800: 800;
$font-black-900: 900;

$content-width: 1200px;
$section-blue-bg: #EBF6FF;

// Default Button
$button-height: 56px;

// Accent colors
$default: #acb7bf;
$primary: #0190fe;
$secondary: #6a7a84;
$success: #13F2A1;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;

// Font Size
$base__font-size: 16 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor( ($px/$base) * 100 ) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}

// Transitions
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
  transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.2s ease-in-out;
}

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 576px;
$xs-max-width: 575px;

@mixin mobile(){
  @media (max-width: 575px) { @content; }
}

@mixin padmini(){
  @media (max-width: 768px) { @content; }
}

@mixin tablet(){
  @media (max-width: 1024px) { @content; }
}

@mixin desktop(){
  @media (max-width: $xl-max-width) { @content; }
}