@import "mixin";
.news_wrapper {
  width: 100%; 
  background: $section-blue-bg;
  .inner {
    max-width: 1200px; 
    margin: 0 auto;
    .news_content {
      img {
        max-width: 100%;
      }
      h2 {
        font-size: 20px;
        line-height: 24px;
        color: #0e4f79;
        font-weight: $font-bold-700;
      }
      .date {
        color: $blue-lighten;
        font-size: 14px;
        font-weight: $font-medium-500;
      }
    }
  }
}