@import "mixin";

.forex_wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .content {
    max-width: $content-width; 
    margin: 0 auto;
    color: $white;
  }
}
