@import "mixin";

.payroll_wrapper {
  .content {
    max-width: $content-width; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .payroll_img {
      display: flex;
      align-items: center;
    }
    .text {
      align-items: center;
      align-content: center;
      display: grid;
    }
  }
}
